<!--<mat-card>
    <mat-card-title>Mapa</mat-card-title>

    <mat-card-content>
        <agm-map (mapClick)="agregarMarcador( $event )" [latitude]="lat" [longitude]="lng" [zoom]="16">
            <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng">
                <agm-info-window>
                    <strong>
                        {{  marcador.nombre }}
                    </strong>
                    <p>{{ marcador.desc }}</p>
                    <div>
                        <button mat-raised-button color="primary">Editar</button>
                        <button mat-raised-button color="warn">Cancelar</button>
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-card-content>


</mat-card>-->

<mat-card>
    <mat-card-title>Mapa</mat-card-title>
    <div class="row initial">
        <div style="margin: auto 0;text-align: center;" class="col-lg-1 col-sm-1 col-2 torigh">
            <span>Origen</span>
        </div>
        <div class="col-lg-2 col-sm-2 col-3 torigh">
            <form [formGroup]="forma" (ngSubmit)="puntoInicial()" novalidate="novalidate">
                <input style="width: 100%;" type="text" placeholder="Latitud" class="form-control" formControlName="latitud" [class.is-invalid]="latitudNovalido">
                <small *ngIf="latitudNovalido" class="text-danger">
                    No válido
                </small>
            </form>
        </div>
        <div class="col-lg-2 col-sm-2 col-3 toleft">
            <form [formGroup]="forma" (ngSubmit)="puntoInicial()" novalidate="novalidate">
                <input style="width: 100%;" type="text" placeholder="longitud" class="form-control" formControlName="longitud" [class.is-invalid]="longitudNovalido">
                <small *ngIf="longitudNovalido" class="text-danger">
                    No válido
                </small>
            </form>
        </div>
        <div *ngIf="conExion" class="col-lg-1 col-sm-1 col-2 zerop">
            <button title="Guardar" type="button" (click)="puntoInicial()" class="btn btn-outline-primary saveButon">Guardar</button>
        </div>
        <div *ngIf="conExion" class="col-lg-1 col-sm-1 col-2 recharge">
            <button title="Limpiar" (click)="rechagPagecontent()" type="button" class="btn btn-light btn-sm rechargeButton">
                    <i class="fa fa-refresh fa-lg"></i>
            </button>
        </div>
    </div>
    <mat-card-content>

        <agm-map (mapClick)="agregarMarcador( $event )" [latitude]="lat" [longitude]="lng" [zoom]="15">

            <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng">

                <agm-info-window>
                    <strong>{{ marcador.name }}</strong>
                    <p>
                        {{ marcador.lat }},{{ marcador.lng }}
                    </p>

                    <div>
                        <button (click)="editarMarcador(i,marcador)" mat-raised-button color="primary">Editar</button>
                        <button (click)="borrar_punto(i, marcador.id)" mat-raised-button color="warn">Borrar</button>
                    </div>

                </agm-info-window>

            </agm-marker>

            <agm-direction *ngIf="directions" [renderOptions]="renderOptions" [origin]="origin" [destination]="destination" [waypoints]="waypoints">

            </agm-direction>

        </agm-map>


    </mat-card-content>

</mat-card>