agm-map {
    height: 480px;
}

mat-card.mat-card {
    padding-top: 3px;
}

.initial {
    padding-bottom: 4px;
}

.torigh {
    padding-right: 0;
}

.toleft {
    padding-left: 0;
}

.recharge {
    text-align-last: left;
}

.rechargeButton {
    text-align-last: center;
    border: 1px solid #979797;
    border-radius: 7px;
    opacity: 0.56;
    width: 44.28px;
    height: 38px;
}

@media (max-width: 768px) {
    .rechargeButton {
        width: 38px;
        height: 38px;
    }
    .zerop {
        padding: 0;
    }
    div.col {
        font-size: 12px;
    }
    .saveButon {
        height: 38px;
        font-size: 10px;
    }
    .recharge {
        text-align-last: center;
    }
}