<form [formGroup]="forma">
    <mat-form-field>
        <textarea rows="3" matInput placeholder="Latitud" formControlName="latitud"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Longitud" formControlName="longitud">
    </mat-form-field>

    <button (click)="guardarCambios()" mat-raised-button color="primary">Editar</button>
    <button (click)="onNoClick()" mat-raised-button color="warn">Cancelar</button>
</form>