/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    margin: 0px;
}

.main-container {
    padding: 10px
}

@media (max-width: 768px) {
    .main-container {
        padding: 0px
    }
}


/*@media (min-width: 768px){
    .main-container {
        padding: 10px
    }
}*/